<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section>
	<h1>{{ data['Name'] }}</h1>
  <h5>Status: <i>{{ data['Status'] }}</i>, Phase: <i>{{ data['Phase'] }}</i></h5>
  <p>{{ data['Description'] }}</p>
  {% if data['References'] %}
    <h3>References</h3>
    <ul>
      {% for referece in data['References'] %}
        <li>{{ referece | urlize(target='_blank') }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if data['Comments'] %}
    <h3>Comments</h3>
    <pre>{{ data['Comments'] | urlize(target='_blank') }}</pre>
  {% endif %}
  {% if data['Votes'] %}
    <h3>Votes</h3>
    <ul>
      {% for referece in data['Votes'] %}
        <li>{{ referece }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <h3>More</h3>
  <ul>
    <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{data['Name']}}">cve.mitre.org</a></li>
    <li><a href="https://nvd.nist.gov/vuln/detail/{{data['Name']}}">nvd.nist.gov</a></li>
  </ul>
</section>

