.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
  max-width: 1000px;
}

.code {
  max-width: 100%;
  overflow: scroll;
}

.description {
  margin-top: var(--spacings-xLarge);
  font-size: var(--font-size-medium);
}

.chipContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.referencesList {
  list-style: none;
  margin-left: 0;
  padding-left: 2rem;
}

.referencesList li {
  text-indent: -1.5rem;
  line-height: var(--spacings-xLarge);
}

.referencesList li:before {
  content: "⎋";
  opacity: .5;
  padding-right: .5rem;
}

.assigner {
  text-align: center;
  text-transform: uppercase;
  opacity: .5;
}

.title {
  margin-bottom: 0rem;
}

.id {
  opacity: .5;
  font-weight: 200;
  margin-bottom: .5rem;
}


.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saveButton {
  padding: var(--spacings-xSmall);
  height: 3rem;
  aspect-ratio: 1;
	background-color: var(--color-blue);
	border-radius: var(--spacings-xSmall);
  font-size: var(--font-size-large);
	font-weight: 500;
	text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 50%;
}
.saveButton:hover {
  background-color: rgba(93, 117, 205, 0.4);
  cursor: pointer;
}
