.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
  max-width: 1000px;
}

.code {
  max-width: 100%;
  overflow: scroll;
}

.chipContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: var(--spacings-xSmall);
  flex-wrap: wrap;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saveButton {
  height: 3rem;
  aspect-ratio: 1;
	background-color: var(--color-dark-green);
	font-weight: 500;
	text-transform: uppercase;
  color: white;
  border: none;
}
.saveButton:hover {
  opacity: .8;
  cursor: pointer;
}
