.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  gap: var(--spacings-medium);
}

.link {
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
  font-variant-numeric: tabular-nums;
}
