html {
  --color-bg: #171717;
  --color-dark-gray: #242424;
  --color-light-gray: #323232;
  --color-text-dark: #7B7B7B;
  --color-text: #CCCCCC;
  --color-purple: #5F60FF;
  --color-blue: #02B5ED;
  --color-red: #E15F5E;
  --color-yellow: #F0FB57;
  --color-pink: #ED6FF7;
  --color-green: #07C06C;
  --color-dark-green: #058686;
  --spacings-xSmall: 1ch;
  --spacings-small: 2ch;
  --spacings-medium: 3ch;
  --spacings-large: 4ch;
  --spacings-xLarge: 5ch;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Berkeley Mono', 'JetBrains Mono', 'Courier New', Courier, monospace;
  width: 100%;
  margin: auto;
  background-color: var(--color-bg);
  color: var(--color-text);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-blue);
}
a > * {
  color: var(--color-text);
}
a b {
  color: var(--color-blue);
}
a:hover {
  opacity: .8;
}

code {
  opacity: .7;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

header, footer {
  color: var(--color-text);
  background-color: var(--color-dark-gray);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  font-weight: bold;
}
header > *, footer > * {
  flex: 1;
}
header *:last-child, footer *:last-child {
  text-align: right;
}
header *:first-child, footer *:first-child {
  text-align: left;
}
header *:only-child, footer *:only-child {
  text-align: center;
}
@media (max-width: 60ch) {
  header, footer {
    flex-direction: column;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-yellow);
  font-weight: bold;
  margin: 0;
  margin-top: var(--spacings-medium);
}
h1::before { content: "# " }
h2::before { content: "## " }
h3::before { content: "### " }
h4::before { content: "#### " }
h5::before { content: "##### " }
h6::before { content: "###### " }

bold, b {
  color: var(--color-green);
}

ul {
  margin: 0;
}

form {
  width: 100%;
}

input[type='text'] {
  border: none;
  box-shadow: none;
  padding: 1rem;
  margin: 0 -1rem 0 -1rem;
  background-color: var(--color-dark-gray);
  color: var(--color-text);
  font-weight: bold;
  width: calc(100% + 2rem);
  font-variant-numeric: tabular-nums;
}

input[type='text']:focus {
  box-shadow: none;
  border: none;
  background-color: var(--color-light-gray);
}

:focus {
  outline: 2px solid rgba(255,255,255,.5);
  outline-offset: 2px;
}

label {
  display: block;
}

summary {
  padding: 1rem;
  background-color: var(--color-light-gray);
  margin: 0 -1rem;
}

.pre {
  white-space: pre-wrap;
}
