html {
  --color-red:  rgba(205, 93, 93, 0.288);
  --color-blue: rgba(93, 117, 205, 0.288);
  --spacings-xSmall: .5rem;
  --spacings-small: 1rem;
  --spacings-medium: 1.5rem;
  --spacings-large: 2rem;
  --spacings-xLarge: 2.5rem;
  --font-size-small: .8rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 1.5rem;
  --font-size-jumbo: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: .7;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

code {
  opacity: .7;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3, label {
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  width: 100%;
}

input[type='text'] {
  border: none;
  box-shadow: none;
  padding: 1rem;
  margin: 0 -1rem 0 -1rem;
  background-color: rgba(255, 255, 255, .7);
  border-radius: .3rem;
  font-weight: bold;
  font-size: 2rem;
  width: calc(100% + 2rem);
  font-variant-numeric: tabular-nums;
}

input[type='text']:focus {
  box-shadow: none;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

:focus {
  outline: 2px solid rgba(255,255,255,.5);
  outline-offset: 2px;
  border-radius: .3rem;
}

label {
  min-width: 15rem;
  display: block;
  padding: 1rem 0 1rem 0;
}
label:focus {
  color: red;
}

aside {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: block;
  float: right;
  max-width: 40%;
}
aside img {
  height: auto;
  width: 100%;
  border-radius: .5rem;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #1F2430;
    color: white;
  }
}
