.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

.link {
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
  font-variant-numeric: tabular-nums;
}
.title {
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}

.label {
  opacity: .8;
  line-height: 1rem;
}

.header {
  display: flex;
  gap: var(--spacings-xSmall);
}

.linkTitle {
  opacity: .8;
  line-height: 1rem;
  font-weight: bold;
}
