.affected {
	display: grid;
	row-gap: var(--spacings-small);
}

.products {
	display: grid;
  gap: var(--spacings-small);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 0 calc(var(--spacings-small) * -1);
}

.product {
	display: grid;
  gap: var(--spacings-small);
	background-color: var(--color-dark-gray);
	padding: var(--spacings-small);
}

.product p {
	margin: 0;
}
