.container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacings-xSmall);
}

.header {
  margin-bottom: 0;
}

.url {
  color: rgba(255,255,255,.5);
}

.metadata {
  color: rgba(255,255,255,.5);
}
