.container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacings-small);
}

.header {
  margin-bottom: 0;
}

.url {
  color: rgba(255, 255, 255, 0.5);
}

.metadata {
  color: rgba(255, 255, 255, 0.5);
}

.comment {
  display: flex;
  background-color: var(--color-dark-gray);
  flex-direction: column;
  margin-bottom: var(--spacings-small);
  padding: var(--spacings-small);
  opacity: 1;
  gap: var(--spacings-xSmall);
}
.comment div {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-xSmall);
}
.comment:hover {
  text-decoration: none;
  cursor: pointer;
}
