.referencesList {
  display: grid;
  gap: var(--spacings-small);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
	margin: 0 calc(var(--spacings-small) * -1);
}

.open_graph_data {
  opacity: 1;
	display: block;
	min-width: 200px;
	background-color: var(--color-blue);
	border-radius: var(--spacings-xSmall);
	overflow: hidden;
	font-size: var(--font-size-small);
}

.open_graph_data .ogd_content {
	padding: var(--spacings-small);
	display: flex;
	flex-direction: column;
	gap: var(--spacings-small);
}

.open_graph_data .ogd_content > * {
	margin: 0;
}

.open_graph_data:hover {
	text-decoration: none;
}
.open_graph_data img {
  display: block;
	width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
}
.open_graph_data h4 {
	font-size: var(--font-size-regular);
}

.open_graph_data .url {
	opacity: .7;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.open_graph_data:hover .url {
  text-decoration: underline;
}
